
/*--------------------------------------------------------------
# prosentase
--------------------------------------------------------------*/
.prosentase .content h3 {
    font-weight: 700;
    font-size: 32px;
    color: #37517e;
    font-family: "Poppins", sans-serif;
}
.prosentase .content ul {
    list-style: none;
    padding: 0;
}
.prosentase .content ul li {
    padding-bottom: 10px;
}
.prosentase .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #47b2e4;
}
.prosentase .content p:last-child {
    margin-bottom: 0;
}
.prosentase .progress {
    height: 60px;
    display: block;
    background: none;
    border-radius: 0;
}
.prosentase .progress .prosentase {
    padding: 0;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #37517e;
}
.prosentase .progress .prosentase .val {
    float: right;
    font-style: normal;
}
.prosentase .progress-bar-wrap {
    background: #e8edf5;
    height: 10px;
}
.prosentase .progress-bar {
    width: 1px;
    height: 10px;
    transition: 0.9s;
    background-color: #4668a2;
}
.progress-group {

}
